/* Start of Grid Layout Style*/

html, * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    margin: 0;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.3333%;
}

.one-fourth {
    width: 25%;
}

.one-sixth {
    width: 16.6666%;
}

.one-eighth {
    width: 12.5%;
}

.offset-one-half {
    margin-left: 50%;
}

.offset-one-third {
    margin-left: 33.3333%;
}

.offset-two-third {
    margin-left: 66.6666%;
}

.offset-one-fourth {
    margin-left: 25%;
}

.offset-one-eighth {
    margin-left: 12.5%;
}

/*End of Grid Layout Style*/



/*Whole page*/

body {
    margin: 0;
    text-align: center;
}

p {
    font-size: 1.125em;
}

hr {
    border: 1.5px solid;
    max-width: 50px;
}

.hr-light {
    color: #ffffff;
}

.hr-red {
    color: #ff0000;
}

.large-space {
    margin-bottom: 4em;
}

.space {
    margin-bottom: 2.3em;
}

code {
    background-color: rgb(250, 241, 244);
    color: rgb(213, 0, 69);
}

/*Top of page*/

header {
    background-color: rgb(221, 46, 57);
    padding: 85px 0 50px 0;
    color: #ffffff;
}

.login {
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(255, 255, 255, 0.23);
    padding: 3px 8px;
    border-radius: 2px;
}

a.purchase {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

h1 {
    font-size: 150px;
    margin: 0 0 10px 0;
    font-family: "Brush Script MT", cursive;
    position: relative;
    top: -20px;
}

header a {
    color: #ffffff;
}

.started {
    position: relative;
    top: 10px;
}


/*Middle section*/

h2 {
    font-size: 33px;
}

.intro {
    margin-top: 60px;
}

.intro-video {
    text-decoration: none;
    color: red;
}

.ready-started {
    background-color: rgb(221, 46, 57);
    color: #ffffff;
}

h3 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}

.p-margin {
    margin-top: 7px;
}

.text-section {
    text-align: left;
}



/*Footer Section*/

