/*Entire page*/

.margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

article {
    margin: 0.6em 4.5em 0.6em 4.5em;
}

hr {
     width: 90%;
     margin: 0 4.5em 0 4.5em;
}

textarea {
    resize: none;
    outline: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid black;
    position: relative;
    top: 1px;
}


/*Top of page*/

header {
    text-align: center;
}


/*Middle of page*/

.small-indent {
    margin-left: 2em
}

.indent {
    position: relative;
    left: 5em;
}

.agent {
    margin: 0.6em 0 0.6em 0;
}

.title {
    margin: 0.6em 2em 0.6em 4.5em;
}

.button {
    margin-left: 2em;
}




/*Bottom of page*/